@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.custom-table-header {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.custom-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table-cell {
  border: 1px solid #000;
  padding: 8px;
}

.wrapper {
  width: 90%;
}

.body {
  width: 100%;
  margin: 0 10px;
}

.job-wrpper {
  background-color: #fff;
  border-radius: 10px;
  min-width: 100%;
  padding: 10px;
}

.job-header {
  display: flex;
  align-items: center;
}

.job-header div {
  padding-left: 10px;
}

.job-header div p {
  color: #191C1B;
  font-weight: 700;
  font-size: 12px;
}

.job-header div span {
  color: #73777F;
  font-weight: 400;
  font-size: 12px;
}

.job-body {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 24px;
}

.job-body span {
  padding-left: 4px;
  color: #43474E;
  font-weight: 400;
  font-size: 14px;
}

.job-body-des {
  padding-left: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}

.postby {
  padding-top: 10px;
  color: #4A5568;
  font-weight: 400;
  font-size: 12px;
  text-align: end;
}

.job-wrpper {
  margin: 10px 0;
}

.job-wrpper.details {
  margin-top: 2rem;
}

.details .singleline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.details .job-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.details .job-header img {
  width: 48px;
}

.details .job-header div {
  padding: unset;
}

.job-card {
  display: flex;
  justify-content: space-between;
}

.job-card .job-wrppernew {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}

.job-card .job-wrppernew:last-child {
  margin-right: 0;
}

.Requirementscard .job-body.tag {
  margin-bottom: 15px;
}

.Requirementscard .job-body.tag span {
  background-color: #F7FAFC;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

.Requirementscard .job-body span {
  padding-left: unset;
}

.btn {
  text-align: center;
  margin: 1rem;

}

.btn button {
  background-color: #2D9BD8;
  padding: 5px 24px;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.header.wrapper {
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.header.wrapper button {
  background: blue;
  color: #ffff;
  font-size: 12px;
  padding: 9px 15px;
  border-radius: 50px;
}

.header.wrapper input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 40%;
}

.header.wrapper select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 40%;
}

body {
  height: 100%;
}

.Fillter {
  width: 100%;
  height: 100%;
}

.Fillter-wrapper {
  width: 100%;
  display: flex;
  padding: 0 50px;
  height: 100%;
}

.Fillter-left {
  width: 25%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  min-height: 700px;
  height: 100%;
  margin-right: 20px;
}

.Fillter-right {
  width: 75%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 700px;
}

.heading h3 {
  padding: 5px 15px;
}

.job-body.new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headingdetails {
  padding: 10px;
  text-align: center;
  padding-top: 40px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: #fff;
  }

  body {
    color: #000;
    background: #fff;
  }
}

.pagination button {
  background-color: #000;
  padding: 5px 10px;
  margin: 0 5px;
  color: #fff;
  border-radius: 10px;
}

.pagination .selected {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.centerpage {
  margin: 24px 34px;
}

/* job list card css start*/
.job-list-wrpper-title {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.job-list-wrpper-sub-title{
  color: #2523CA;
  font-weight: 500;
  font-size: 14px;
}
.job-list-wrpper {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  min-height: 450px;
}

.job-list-card {
  border: 1px solid #EFF1EF;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebar {
  height: 100vh;
  width: 320px;
  position: sticky;
  top: 0;
  background: #fff;
}

.page-wrapper {
  /* display: flex;
  justify-content: space-between; */
}

.mobile-menu {
  display: none;
}

.mb-close-btn {
  display: none;
}

.job-count-heading {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.job-location-heading {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .centerpage {
    margin: 24px 18px;
  }

  .job-list-wrpper {
    padding: 12px;
  }

  .postby {
    text-align: start;
  }

  .sidebar.active {
    display: block;
    z-index: 99999;
    position: absolute;
    background-color: #fff;
    width: 100%;
  }

  .mobile-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: end;
    width: 100%;
    height: 44px;
    background-color: #2523CA;
  }

  main {
    margin-top: 44px;
  }

  .mb-close-btn {
    display: block;
  }

  .mobile-menu-btn {
    margin-right: 20px;
  }

  .mobile-close-btn-card {
    display: flex;
    justify-content: space-between;
  }

  .job-count-heading {
    font-size: 12px;
  }

  .job-location-heading {
    font-size: 16px;
  }

  .job-heading-card {
    margin-bottom: 16px;
  }

  .global-search-bar {
    padding: 10px 10px 10px 40px;
  }

  .job-card {
    flex-direction: column;
  }

  .job-card .job-wrppernew {
    margin-bottom: 10px;
  }

  .job-wrpper.details {
    margin-top: 1rem;
  }
}

.tag-list {
  display: flex;
}

.tag-values {
  margin: 0px 10px;
}

.pagination {
  background: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px 10px;
}
.jobsearch-bg-widget{
  width: 100%;
  height: 186px;
  background-image: url(../public/jobsearch-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  justify-content: center; */
  padding: 25px 0;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query for laptop screens (1024px and up) */

@media (min-width: 1024px) {
  .homepage-wrapper {
    /* margin: 32px 158px !important; */
    max-width: 962px !important;
    margin: 32px auto !important;
  }
  .navbar-wrapper {
    /* margin: 0 158px !important;  */
    max-width: 962px !important;
    margin: auto !important;
  }
}

/* Media query for desktop screens (1370px and up) */

@media (min-width: 1370px) {
  .homepage-wrapper {
    /* margin: 32px 158px !important; */
    max-width: 1300px !important;
    margin: 32px auto !important;
  }
  .navbar-wrapper {
    /* margin: 0 158px !important;  */
    max-width: 1300px !important;
    margin: auto !important;
  }
}
@media (min-width: 640px) {
  .homepage-wrapper {
      margin: 16px 50px;
  }
  .navbar-wrapper {
      margin: 16px 50px;
  }
}
.job-categories{
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}
.categories-title{
  font-size: 16px;
  font-weight:600;
  color: #000;
}
.categories-card{
  /* width: 100%; */
  border: 1px solid #EFF1EF;
  border-radius: 8px;
  padding: 12px;
  margin: 0 1px;
}
.categories-card__title{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.categories-card__value{
  font-size: 12px;
  font-weight: 400;
  color: #73777F;
}
.categories-card-row{
  margin-top: 8px;
}
.nav-menu-card{
  margin: 0 !important;
  box-shadow: 0px 2px 4px 0px #0000001F;
  height: 40px;
  border-radius: 24px;
  padding: 4px;
}
.nav-menu-card__row{
  height: 33px;
  width: 100%;
  background-color: #DEE0FF;
  border-radius: 16px;
}
.categories-card-row .swiper{
  height: 70px;
}
.footer-title{
  color: #2523CA;
  font-weight: 500;
}
.footer-quick-menu{
  margin: 18px auto 22px;
}
.footer-quick-menu{
  color: #2523CA;
  font-weight: 600;
  font-size: 14px;
}
.footer-menu{
  color: #808080;
}
.filter-group-btn button[aria-selected="true"] div{
  color: #fff !important;
}
.filter-group-btn button[aria-selected="true"] span{
  background-color: #2C3CCC;
}
.filter-group-btn button[aria-selected="false"] div{
  border: 1px solid #DEE0FF;
  padding: 5px 10px;
  border-radius: 10px;
}
.filter-group-btn button[aria-selected="false"] {
  padding: 0;
}
.filter-group-btn button[aria-selected="false"] span{
  background-color: #2C3CCC;
}
.filter-group-btn-icon button{
  border: 1px solid #DEE0FF;
  padding: 5px 10px;
  border-radius: 10px;
  color: #2523CA;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
}
.categories-card-row .swiper .swiper-button-next,
.trending-jobs-row .swiper .swiper-button-next{
  width: 75px !important;
  height: 75px !important;
  background-image: url(../public/icon/slidet-next.svg)  !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 25%;
  right: -10px;
}
.trending-jobs-row .swiper .swiper-button-next{
  top: 35%;
}
.categories-card-row .swiper .swiper-button-next::after,
.trending-jobs-row .swiper .swiper-button-next::after{
font-size: 0 !important;
}
.categories-card-row .swiper .swiper-button-prev,
.trending-jobs-row .swiper .swiper-button-prev{
  width: 75px !important;
  height: 75px !important;
  background-image: url(../public/icon/slidet-prev.svg)  !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 25%;
  left: -10px;
}
.trending-jobs-row .swiper .swiper-button-prev{
  top: 35%;
}
.categories-card-row .swiper .swiper-button-prev::after,
.trending-jobs-row .swiper .swiper-button-prev::after{
font-size: 0 !important;
}
.categories-card-row .swiper .swiper-button-prev.swiper-button-disabled,
.categories-card-row .swiper .swiper-button-next.swiper-button-disabled,
.trending-jobs-row .swiper .swiper-button-prev.swiper-button-disabled,
.trending-jobs-row .swiper .swiper-button-next.swiper-button-disabled{
  opacity: 0;
}
.jobsearch-wrapper{
  background-color: #fff;
  border-radius: 8px;
}
.trending-jobs-wrapper{
  padding: 16px 24px 24px;
}
.trending-jobs-row{
  margin-top: 8px;
}
.trending-jobs-column{
  padding: 12px;
  border: 1px solid #EFF1EF;
  border-radius: 8px;
  /* margin: 0 1px; */
}
.trending-jobs-wrapper .trending-jobs-title{
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.trending-jobs-wrapper .card-body .card-title{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.trending-jobs-wrapper .card-body .card-sub-title{
  font-size: 12px;
  font-weight: 400;
  color: #73777F;
}
.trending-jobs-wrapper .card-body .posted-dates{
  font-size: 11px;
  font-weight: 600;
  color: #808080;
  margin-top: 8px;
}

.job-detail-hero-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 16px 0px #2523CA26;
}
.primary-btn-lg{
  color: #fff;
  background-color: #2523CA;
  padding: 8px 22px 8px 22px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
}
.app-install-card{
  border-radius: 8px;
  padding: 20px 20px 0px 20px;
}
.app-install-card .card-title{
  color: #191C1B;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.app-install-card .card-desc{
  color: #4A58A9;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}
.app-install-card .card-desc-light{
  color: #808080;
  font-size: 12px;
  font-weight: 500;
}
.back-btn-row .back-btn{
  margin-top: -16px;
}
.back-btn-row .back-btn{
  margin-bottom: 10px;
}
.back-btn-row .back-btn{
  color: #2523CA;
  font-size: 16px;
  font-weight: 600;
}
.job-hero-field .job-detail-title{
  color: #191C1B;
  font-size: 16px;
  font-weight: 600;
}
.job-hero-field .job-detail-company-title{
  color: #01579B;
  font-size: 16px;
  font-weight: 600;
}
.job-hero-field .job-posted-date{
  color: #808080;
  font-size: 12px;
  font-weight: 600;
  margin-left: 23px;
}
.job-hero-field .job-body span {
  padding-left: 4px;
  color: #191C1B;
  font-weight: 400;
  font-size: 14px;
}
.job-detail-desc-card{
  margin-top: 16px;
}
.job-detail-desc-card .job-wrpper{
  margin:0px 0px 16px 0px;
  padding: 10px 16px;
}
.requirementscard-body{
  margin-right: 16px;
  /* margin-top: 16px; */
}
.job-detail-desc-card .requirements-card .rqr-card-title{
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}
.job-detail-desc-card .requirements-card .rqr-card-desc{
  color: #616161;
  font-size: 14px;
  font-weight: 400;
}
.requirements-card  .job-rqr-field-row{
  margin-bottom: 12px;
}
.requirements-card  .job-rqr-field-row .label{
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  width: 80px;
}
.requirements-card  .job-rqr-field-row .value{
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}
.job-add-section .company-card .company-card_title{
  color: #191C1B;
  font-size: 16px;
  font-weight: 600;
}
.job-add-section .company-card .company-card_loc{
  color: #4A58A9;
  font-size: 12px;
  font-weight: 600;
}
.job-add-section .company-card .company-card_desc{
  color: #808080;
  font-size: 12px;
  font-weight: 400;
}
.badge-icon{
  background-color: #D7F9E1;
  color: #000;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
}
.requirements-card .requirements-card_profile{
  display: flex;
}
.requirements-card_profile-row .requirements-card_profile-title{
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}
.requirements-card_profile-row .requirements-card_profile-loc{
  color: #424242;
  font-size: 14px;
  font-weight: 600;
}
.rqr-card-redirect-link-text{
  color: #2523CA;
  font-size: 16px;
  font-weight: 600;
}
.requirements-card .tag-card-row{
  display: flex;
  margin-bottom: 10px;
}
.requirements-card .tag-card{
  margin-right: 10px;
  background-color: #EEEEEE;
  color: #2523CA;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 16px;
}
.closed {
  color: red;
  border: 1px solid;
  padding: 0px 6px;
}